body
{
	margin-top: 50px;
	font-family: 'Quicksand', sans-serif;
}

.jumbo-test
{
	background-color: red;
}

.btn 
{
    white-space: normal;
}

 .btn:hover
{
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 6px 0 rgba(0, 0, 0, 0.19);
	border:1px solid black;
} 

/*.choices
{
	font-weight: bold;
}*/

#back-button
{
	display: none;
}

#coins-display
{
	display: inline-block;
}

.card
{
	margin-top: 30px; 
}

.answer
{
	margin-top: 20px;
	height:150px;
}

#go-fot-it
{
	disable:true;
}

.stats-leaderboard
{
	margin-top: 20px;
}

.huge
{
	font-style: 40px;
}

#leaderboard
{
	display:none;
}

.fa-star
{
	color:#ffc107;
	margin: 10px;
}

#you-got-a-star
{
	background-color: #ffff82;
	text-align: center;
	font-size: 10em;
	color:white;
	text-shadow: 0px 6px 10px #000000;
	display: none;
}

#star
{
	text-shadow: 0px 0px 0px #000000;
}

#image-container
{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

/*Calculator Styles*/

.calc-button
{
	width:100%;
}

.col-xs-12
{
	width:100%;
	padding: 10px;
}

.col-xs-3
{
	width:25%;
	padding: 10px;
}

.col-xs-6
{
	width:50%;
	padding: 10px;
}

.calculator
{
	margin-top: 20px;
	background-color: #dddfe2;
	border: 2px solid #868e96;
}

.calculator-div
{
	display: none;
}

.screen
{
	width:100%;
	margin: 10px;
	height:60px;
	font-size: 20px;
	font-weight: bold;
}