body
{
	margin-top: 50px;
}

.jumbo-test
{
	background-color: red;
}

.btn 
{
    white-space: normal;
}

.btn:hover
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#coins-display
{
	display: inline-block;
}

.card
{
	margin-top: 30px; 
}

.answer
{
	margin-top: 20px;
	height:150px;
}

#go-fot-it
{
	disable:true;
}

.stats-leaderboard
{
	margin-top: 20px;
}
.huge
{
	font-style: 40px;
}

