body
{
	margin-top: 30px;
}

.coin-row
{
	margin-bottom: 30px;
}

#logo
{
	display: inline-block;
	font-size: 40px;
}
.center-block 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login-button
{
	
}

.register-alert
{
	margin-top: 20px;
	display: none;
}

.login-alert
{
	margin-top: 20px;
	
}