body
{
	margin-top: 30px;
}

.fa
{*}

.fa.fa-check-square
{
	margin:10px;

}

.fa.fa-minus-square
{
	margin:10px;
	/*color: #dc3545;*/
}

.fa.fa-square
{
	margin:10px;
	/*color: #dc3545;*/
}

.fa.fa-check-square.check:hover
{
	color: #28a745;
}

.fa-star
{
	color:#ffc107;
	margin: 10px;
}

#coin-container
{
	display: inline-block;
}

/*.card-header
{
	box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2), 0px 6px 6px 0 rgba(0, 0, 0, 0.19);
}
*/
.fa-star
{
	text-shadow: 0px 0px 0px #000000;
}
